.section-container-slider {
    padding: 10px 90px;

    @include breakpoints-down(large) {
       flex-direction: column;
       gap: 60px;
       padding: 10px 50px;
    } 
    @include breakpoints-down(small) {
        padding: 10px 30px;
    }
}

.slider {
    padding-right: 10px;
    width: 65%;
    @include breakpoints-down(large) {
        width: 100%;
     } 

    .mySwiper {
        border-radius: 10px;

        .slider-wrapper {
            position: relative;
            cursor: pointer;

            .slider-item {
                .thumbnail {
                    img {
                        width: 100%;
                        object-fit: cover;
                        cursor: pointer;
                        transition: 0.5s ease;
                        border-radius: 10px;
                        display: block;
                        height: 500px;


                    }
                    
                }
                .content {
                    position: absolute;
                    box-sizing: border-box;
                    padding: 30px;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    z-index: 50;
                    color: white;
                    .title {
                        color: white;
                        font-size: 32px;
                        font-weight: 700;
                        line-height: 1.2em;
                    }
                    .meta {
                        .category {
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 15px;
                            margin-right: 8px;
                            padding-right: 7px;
                            position: relative;
        
                            &::after {
                                width: 6px;
                                height: 6px;
                                background: white;
                                content: "";
                                border-radius: 50%;
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                right: -3px;
                            }
                        }
                        .date {
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 15px;
        
                        }
                    }
                }
                
                
            }
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 43.44%, rgba(0, 0, 0, 0.84) 126.46%);
                top: 0;
                left: 0;
            }
           
        }
        
        .swiper-button-prev, .swiper-button-next {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: #ffffffcc;
           
            &::after {
                font-size: 18px;
                color: #F72210;
                font-weight: 800;
            }
        }
    }
}

.sub-slider {
    padding-left: 10px; 
    @include breakpoints-down(large) {
        padding-left: 0;
        width: 100%;
     } 
    .wrapper {
        padding: 20px;
        padding-bottom: 10px;
        background: rgba(0,0,0,.025);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        
        .elementor {
            &-container {
                @include breakpoints-down(large) {
                    flex-direction: row;
                } 
                .thumbnail {
                    max-width: 125px;
                    img {
                        height: 87px;
                        @include breakpoints-down(large) {
                            max-width: 125px;
                        } 
                    }
                }
            }
        }
    }
}